  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="artist_name">
        <%=artist.name%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="artist_img">
        <img src="<%=artist.img%>" class="img-responsive visible-xs-*"></img>
      </div>
      <div class="col-md-12" id="artist_bio">
        <%=artist.bio%>
        </div>
    </div>
  </div>
