<div class="col-md-12 artist-lexicon">
  <h1><%= "#{object[:artist]}'s lexicon"%></h2>
</div>
<div class="col-md-3 indv-artist-bio artist-lexicon">
  <p><%=object[:words].key(1)%></p>
</div>
<div class="col-md-9 artist-lexicon artist-lexicon-count">
  <div class="col-md-9 lexicon-cont">
    <% object[:words].each do |word,count| %>
      <div class="row word-row">
        <div class="col-md-6 col-xs-6"><p><%=word%></p></div>
        <div class="col-md-6 col-xs-6"><p><%=count%></p></div>
      </div>
    <%end%>
  </div>
</div>
