<div class="container-fluid artist-bio">
  <div class="row">
    <%= render partial: "artist_info", locals: {artist:@artist} %>
  </div>
  <div class="row artist-words">
    <%= render partial: "artist_words", locals: {object:@object} %>
</div>
